# Python 캐시 파일
**/__pycache__/
*.py[cod]
*$py.class

# 가상 환경
venv/
env/
.venv/

# 패키지 관리
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# 환경 설정
.env
.env.local
# *.yml
.vscode/

# 데이터 파일 제외
*.csv
*.tsv

# git 제외 폴더
mine/
models/
catboost_info/
# autogluon
autogluon_models/

*.log
.vscode/settings.json

# autogluon
autogluon_models/
autogluon_models_bestq/
